<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5enXSsPAuLPhdtTHqUbqfW31qQ6GnQig</string>
	<key>GCM_SENDER_ID</key>
	<string>555386997699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoListPocTask</string>
	<key>PROJECT_ID</key>
	<string>poc-todo-app-74fe1</string>
	<key>STORAGE_BUCKET</key>
	<string>poc-todo-app-74fe1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555386997699:ios:83f1334e802cf72e4bcb76</string>
</dict>
</plist>